body {
    font-family: Arial, sans-serif;
    background: var(--background);
    color: var(--secondary);
  }
  
  header {
    background: var(--secondary);
    color: white;
  }
  
  nav a {
    color: white;
  }
  
  nav a:hover {
    color: var(--primary);
  }
  
  /* HERO BUTTONS */
  .hero-buttons button {
    background: var(--primary);
    color: white;
  }
  
  .hero-buttons button:hover {
    background: var(--accent);
  }
  
  /* TABS */
  .tabs button {
    background: #ddd;
  }
  
  .tabs button:hover {
    background: var(--primary);
    color: white;
  }
  
  /* TABLE */
  th {
    background: var(--primary);
    color: white;
  }